<?xml version="1.0"?>
<!--
/**
 * Copyright © Company. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="company_pricing_adjust_markup" type="Company\PricingAdjust\Plugin\ProductPricePlugin"/>
    </type>
</config>
