<?xml version="1.0"?>
<!--
/**
 * Copyright © Company. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="company" translate="label" sortOrder="1000">
            <label>Company</label>
        </tab>
        <section id="company_pricing" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Pricing Adjustments</label>
            <tab>company</tab>
            <resource>Company_PricingAdjust::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="markup_percentage" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Markup Percentage</label>
                </field>
            </group>
        </section>
    </system>
</config>
